.App {
  text-align: center;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
